APP_NAME=Music Room API
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=true

POSTGRES_DB="music_room"
POSTGRES_USER="music_room"
POSTGRES_PASSWORD="music_room"

DATABASE_URL=postgresql+asyncpg://music_room:music_room@localhost:5432/music_room
DB_ECHO=false

# Docker / infra examples
GRAFANA_ADMIN_PASSWORD="musicroom"

# Enable metrics collection: true/false
ENABLE_METRICS="true"
