APP_NAME=Music Room API
APP_VERSION=0.1.0
ENVIRONMENT=development
DEBUG=true

POSTGRES_DB="music_room"
POSTGRES_USER="music_room"
POSTGRES_PASSWORD="music_room"

DB_ECHO=false

# Docker / infra examples
GF_SECURITY_ADMIN_PASSWORD="musicroom"
GF_SERVER_ROOT_URL="http://localhost/grafana/"
GF_SERVER_SERVE_FROM_SUB_PATH="true"

# Enable metrics collection: true/false
ENABLE_METRICS="true"

# Firebase Admin access configuration
FIREBASE_PROJECT_ID=vitrolify-5c94a
FIREBASE_CREDENTIALS_PATH=/run/secrets/firebase-sa.json
